:root {
	--width-column: 260px;

	--color-main: #ff3e00;
	--color-text: #333;
	--color-lightText: #bbb;
	--color-white: #fff;
	--color-lightBackground: #f4f4f4;

	--fontSize-xl: 1.6em;
	--fontSize-lg: 1.3em;
	--fontSize-md: 1em;
	--fontSize-sm: .9em;
}
